.container{
  justify-content: space-around;
  display: flex;
}

.child{
  width: 20%;
  height: 50%;
  border: 2px solid black;
  border-radius: 12px;
  text-align:center;
}
.child:nth-child(1){
  background-color: red;
}
.child:nth-child(2){
  background-color: blue;
  width: 10%;
}